services:
  gmat-rc-mvp:
    build: .
    container_name: gmat-rc-mvp
    restart: always
    ports:
      - "3001:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
    volumes:
      - ./public/data/passages.csv:/app/public/data/passages.csv

# networks:
#   n8n-docker_default:
#     external: true
